   
    .footer {
        background-color: #00cc00;
     padding: 18px;
        margin: 0;
        position: relative;
        bottom: 0px;
        width: auto;
    }
    
    
    
    .social img {
        width: 30px;
        margin: 0 10px;
    }
    
.social{
    display: flex;
    gap: 50px;

}
.link{

    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    box-sizing: 0 0 10px black;
    transition: 0.3s;
}
.facebook{
    background: rgb(0,78,221);
    background: -moz-linear-gradient(45deg, rgba(0,78,221,1) 0%, rgba(4,0,134,1) 50%, rgba(79,68,68,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(0,78,221,1) 0%, rgba(4,0,134,1) 50%, rgba(79,68,68,1) 100%);
    background: linear-gradient(45deg, rgba(0,78,221,1) 0%, rgba(4,0,134,1) 50%, rgba(79,68,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004edd",endColorstr="#4f4444",GradientType=1);
}
  .instagram{
    background: rgb(0,91,255);
    background: -moz-linear-gradient(324deg, rgba(0,91,255,1) 0%, rgba(216,28,221,1) 50%, rgba(254,254,254,1) 100%);
    background: -webkit-linear-gradient(324deg, rgba(0,91,255,1) 0%, rgba(216,28,221,1) 50%, rgba(254,254,254,1) 100%);
    background: linear-gradient(324deg, rgba(0,91,255,1) 0%, rgba(216,28,221,1) 50%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005bff",endColorstr="#fefefe",GradientType=1);
  }
  .link:hover{
    width: 150px;
  }
  .icon{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .link:hover .icon{
width: 30%;
  }

  .text{
    position: absolute;
    right: 0;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    width: 0;
    opacity: 0;
    transition: 0.3s;
  }
  .link:hover .text{
    width: 70%;
    opacity: 1;
  }
